.private-notes-area ul{
    margin: 0px;
    padding: 0px;
}
.private-notes-area ul li{
    margin: 0px;
    padding:0px;
    list-style: none;
}
.PrivateNotes .title {
    font-size: 12px;
    margin: 10px 0 5px;
}

.PrivateNotes .note {
    color: #106;
    font-size: 14px;
}

.PrivateNotes .sep {
    color: #777;
    border: 1px solid gray;
    height: 1px;
}

.block-private_notes em {
    font-weight: bold;
}

.private-notes-area {
    height: 200px;
    overflow-y: auto;
}